asn1crypto==0.24.0
bootstrap-admin==0.3.9
certifi==2017.7.27.1
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
dj-database-url==0.4.2
Django==1.11.5
django-autoslug==1.9.3
django-bootstrap-themes==3.3.6
django-dash==0.5.3
django-nine==0.1.13
django-pesapal==1.2.0
django-tinymce==2.6.0
djangocms-installer==0.9.7
easy-thumbnails==2.4.1
enum34==1.1.6
feedparser==5.2.1
httplib2==0.10.3
idna==2.6
ipaddress==1.0.19
oauth2==1.9.0.post1
olefile==0.44
ordereddict==1.1
pesapal==0.0.6
pif==0.8.2
Pillow==4.3.0
pkg-resources==0.0.0
pycparser==2.18
pyOpenSSL==17.5.0
pytz==2017.2
requests==2.12.3
six==1.11.0
transliterate==1.10
tzlocal==1.4
Unidecode==0.4.21
urllib3==1.22
vishap==0.1.5
