{% extends "base_pat.html" %}
{% load staticfiles %}


{% block content %}


<div class="content" style="margin-left: 60px;">
  <div class="wrap">
   <div class="about">
    <h3 style="margin-left: 380px;">About Us</h3>
    <img src="{% static 'img/doctorWom.jpg' %}" style="height:250px; width:600px;" alt=""/>
    <p>E-sDoctor is the site that you can use for getting Prescription for your sickness Condition at a reduced price of Ugx.2000 within few seconds
   </p>

    <p>E-sDoctor is the site that you can also  use for ordering lab tests online within few seconds at a low costs
   </p>

    <p>We are located within Kampala, uganda, Kasokoso Kireka D,</p>

    <p>We offer other service like, attending to a patient who 
    needs further help </p>
   
  </div>
  </div>
  </div>
<div class="footer-bottom" style="width: 2000px;height: 2000px; ">
<div class="wrap">  
  <div class="copy">
    <p style="text-align: left;">ES - DOCTOR&copy; 2018 All rights Reserved | Design by <a href="http://w3layouts.com">Mandela Shaban</a> &nbsp;&nbsp;&nbsp; <a href="#">Free Additional services</a></p>
  </div>
 </div>
</div>


 {% endblock %}
