<option value="Banda">Banda</option>
    <option value="Bbunga">Bbunga</option>
    <option value="Bugolobi">Bugolobi</option>
    <option value="Bukasa">Bukasa</option>
    <option value="Bukoto">Bukoto</option>
    <option value="Bulangi">Bulangi</option>
    <option value="Bukesa">Bukesa</option>
    <option value="Bulange">Bulange</option>
    <option value="Bulwa">Bulwa</option>
    <option value="Buziga">Buziga</option>
    <option value="Center Business District">Center Business District</option>
    <option value="Ggaba">Ggaba</option>
    <option value="Kabalagala">Kabalagala</option>
    <option value="Kalerwe">Kalerwe</option>
    <option value="Kamwokya">Kamwokya</option>
    <option value="Kansanga">Kansanga</option>
    <option value="Kasubi">Kasubi</option>
    <option value="Katwe">Katwe</option>
    <option value="Kasubi">Kawaala</option>
    <option value="Kawaala">Kawaala</option>
    <option value="Kawuku">Kawuku</option>
    <option value="Kikaaya">Kikaaya</option>
    <option value="Kasubi">Kasubi</option>
    <option value="Kikoni">Kikoni</option>
    <option value="Kinawataka">Kinawataka</option>
    <option value="Kireka">Kireka</option>
    <option value="Kisasi">Kisasi</option>
    <option value="Kisementi">Kisementi</option>
    <option value="Kasubi">Kasubi</option>
    <option value="Kitintale">Kitintale</option>
    <option value="Kiwaatule">Kiwaatule</option>
    <option value="Kiwafu">Kiwafu</option>
    <option value="Kololo">Kololo</option>
    <option value="Kulambiro">Kulambiro</option>
    <option value="Kiwaatule">Kyaliwajjala</option>
    <option value="Kamwokya">Kamwokya</option>
    <option value="Kansanga">Kansanga</option>
    <option value="Kanyanya">Kanyanya</option>
    <option value="Kasubi">Kasubi</option>
    <option value="Kawaala">Kawaala</option>
    <option value="Kibuli">Kibuli</option>
    <option value="Kibuye">Kibuye</option>
    <option value="Kigowa">Kigowa</option>
    <option value="Kikaaya">Kikaaya</option>
    <option value="Kyambogo">Kyambogo</option>
    <option value="Kyanja">Kyanja</option>
    <option value="Kyebando">Kyebando</option>
    <option value="Lubowa">Lubowa</option>
    <option value="Lugogo">Lugogo</option>
    <option value="Luwafu">Luwafu</option>
    <option value="Luzira">Luzira</option>
    <option value="Makindye">Makindye</option>
    <option value="Mbuya">Mbuya</option>
    <option value="Mengo">Mengo</option>
    <option value="Mpererwe">Mpererwe</option>
    <option value="Mulago">Mulago</option>
    <option value="Munyonyo">Munyonyo</option>
    <option value="Mutungo">Mutungo</option>
    <option value="Muyenga">Muyenga</option>
    <option value="Namugongo">Namugongo</option>
    <option value="Naalya">Naalya</option>
    <option value="Rubaga">Rubaga</option>
    <option value="Najjanankumbi">Najjanankumbi</option>
    <option value="Najjera 1">Najjera 1</option>
    <option value="Nakawa">Nakawa</option>
    <option value="Nakulabye">Nakulabye</option>
    <option value="Namirembe">Namirembe</option>
    <option value="Ndeeba">Ndeeba</option>
    <option value="Ntinda">Ntinda</option>
    <option value="Ntinda Industrial Area">Ntinda Industrial Area</option>
    <option value="Wandegeya">Wandegeya</option>
    <option value="Nakivubo">Nakivubo</option>
    <option value="Zana">Zana</option>
    <option value="zzz_testnororder">zzz_testnororder</option>
    <option value="Ndeeba">Ndeeba</option>