<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    {% include  "metadata.html" %}
	<link rel="stylesheet" href="{% static "css/style4.css" %}" type="text/css" media="screen" />
	<script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
	{% block extra_head %}{% endblock %}

	<!-- 
   For GooGle adsent monitization -->
   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7982644606215482",
    enable_page_level_ads: true
  });
</script>



</head>
<body>
	<header>
		<h1>{% block header_text %}{% endblock %}</h1>
		{% if user.is_authenticated %}
			<a href="/">Logout</a>
		{% endif %}
	</header>
	<section>
		{% block content %}
		{% endblock %}
	</section>
	{% block extra_body %}{% endblock %}
</body>
</html>
