<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>{% block title %} Healthstone Medical Doctor Consultation {% endblock %}</title>
    <meta charset="UTF-8">
    {% include  "metadata.html" %}
 <!--  <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />
 -->  <script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>

  {% block extra_head %}{% endblock %}

<link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css" media="all" />

<link rel="stylesheet" href="{% static 'css/style3.css' %}" type="text/css" media="all" />


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
    
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<!-- 
   For GooGle adsent monitization -->
   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7982644606215482",
    enable_page_level_ads: true
  });
</script>


</head>
<body>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->

{% block nav_bar %}
<div class="header" style="width: 2000px; height: 200px;">
<div class="wrap">
<div class="logo"  ><p  style="color: black; font-size: 32px;"><img style="width:200px; height:100px" src="{% static 'img/home/IMG_20170810_190618.jpg' %}"  style="" alt="" /></p></div>
   <div class="con-right">
      <div class="grid1-l-img">
        <img src="{% static 'images/contact.png' %}" alt="">
      </div>
      <div class="grid1-l-desc">
        <p>Contact : +256754307471</p>
      </div>
      <div class="clear"></div>
  </div>
    <div class="clear"></div>
     </div>
</div>
<div class="header-bottom">
      <div class="wrap">
     <!--    <ul id="nav">
                <li><a class="hsubs" href="/Doct/" title="Logout">Home</a></li>
                <li><a class="hsubs" href="/Doct/about/">About Us</a></li>
                <li><a class="hsubs" href="/Doct/team/">Our Team</a>
                
                <li><a href="/Doct/contact/">Feedback</a></li>
                <li><a href="/Doct/how_it_works/">How it works</a></li>

                {% if ill_more  or order_drug %}
                <li><a href="/Doct/orderdrugs/">Order Drugs</a></li>
                {% endif %}


                {% if labtest or ill_more %}

                <li><a href="/Doct/labtests/">Order Lab Test</a></li>

                {%  endif %}


           

             
                <li><a href="/Doct/whyus/">Why Us</a></li>
                    <ul class="subs">
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Beach Resorts</a></li>
                    </ul>
                </li>

{% if user.is_authenticated %}
                <li><a href="/accounts/logout/">Logout</a>
</li>

                {%  else %}
                <li><a class="hsubs" href="/Doct/register/">Sign Up</a>
                <li><a class="hsubs" href="/Doct/login/">Doctor/Admin Log In</a></li>


                {% endif %}
               
        </ul>
 -->

   {% block navigation %} 

                {% endblock %}  


       </div>
</div>

{% endblock %}
<h1 style="font-size: 2.6rem;
  text-transform: capitalize;color: green; margin-left: 200px;margin-top: 20px;	">Healthstone Online Doctor Consultation</h1>	

{% block slider %}



{% endblock %}




{% block sickness_det %}

{% endblock %}


<section>

                {% block content %} 



                {% block body_images %} 

                {% endblock %}  


                {% endblock %}  
</section>
                





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>



    <div class="clear"></div>
      
        <div class="clear"></div>
     

      {% block bottom_content %}

    
        {% endblock %}

   


      {% block footer %}


{% endblock %}


{% block extra_body %}{% endblock %}


</body>
</html>
