{% extends 'base.html' %}
{% load staticfiles %}

  
{% block slider %}

{% include "slideranima.html" %}

{% endblock %}



{% block content %}



 
    

 {% block header %}



  {% endblock %}

<style type="text/css">






</style>





  






   


{% endblock %}


    





  {% block body_images %} 

                


  

 {% endblock %} 





 {% block side_menue %}






<!-- 
Slider animations -->








{% endblock %}







   {% block bottom_content %}
   
     <div class="content" style="width:2300px;">
        <div class="wrap">
          <div class="wrapper">
        <div class="con-top">
          <h3>Welcome to our Doctor(Medical) consultation Portal!</h3>
          <p>Login using  your Phonenumber and you will be automatically registered and then you will fill in your sickness  symptons and signs  . You will automatically get access to the home page and get in touch with the doctor the doctors very fast</p>
        </div>
        <div class="con-bot">
          <div class="left">
            <div class="bot-left">
              <img src="{% static 'images/docts.jpeg' %}" alt=""/>
            </div>
            <div class="left-text">
            <h4>A group of doctors with whom we partner</h4>
            <span class="doller"></span>
            <p>They just have been in a short meeting </p>
            <p><span class="read">Read More ></span></p>
            </div>
          </div>
          <div class="left">
            <div class="bot-left">
              <img src="{% static 'images/doctgirl.jpeg' %}" alt=""/>
            </div>
            <div class="left-text">
            <h4>Our Senior Experienced Doctor(M)</h4>
            <span class="doller"></span>
            <p><!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo --></p>
              <p><span class="read">Read More >></span></p>
            </div>
          </div>
          <div class="right">
            <div class="bot-left">
              <img src="{% static 'images/docts2.jpeg' %}" alt=""/>
            </div>
            <div class="left-text">
              
              <h4>Some of our medical doctors paying attention to a medical matter</h4>
              <span class="doller"></span>
              <p><!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo --></p>
                <p><span class="read">Read More ></span></p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
          <div class="grids">
        <div class="box1">
                                <div class="padding">
                                    <h4>This Week's Top 10</h4>
                                    <ul class="list list-pad">
                                        <li class="list-bg"><span>1.</span><a href="#">New maternity benefit law may cut jobs for women; 66 per cent startups</a></li><br/>
                                        <li class="list-bg1"><span>2.</span><a href="#">Weight-loss drug shows potential to treat opioid abuse</a></li><br/>
                                        <li class="list-bg"><span>3.</span><a href="#">Treatments need to address 'cue reactivity'</a></li><br/>
                                        <li class="list-bg1"><span>4.</span><a href="#">Lorcaserin reduced opioid use and cue reactivity  </a></li><br/>
                                        <li class="list-bg"><span>5.</span><a href="#">How do alcohol and caffeine affect A-fib?</a></li><br/>
                                        <li class="list-bg1"><span>6.</span><a href="#"> Aggression disorder linked to greater risk of substance abuse </a></li><br/>
                                        <li class="list-bg"><span>7.</span><a href="#">Hangover memories more likely with a family history of drinking problems </a></li><br/>
                                        <li class="list-bg1"><span>8.</span><a href="#">Given the choice, patients will reach for cannabis over prescribed opioids </a></li><br/>
                                        <li class="list-bg"><span>9.</span><a href="#">Review confirms link between drug use and poor dental health</a></li><br/>
                                        <li class="list-bg1"><span>10.</span><a href="#">Component of marijuana may help treat anxiety and substance abuse disorders </a></li>
                                    </ul>
                                    <a href="#" class="link1">See all headlines</a>
                                </div>
                            <div class="padding1">
                                    <h4>Our Patients Testimonials</h4>
                                    <div class="box-left">
                                    <div class="bot-img">
                                      <img src="{% static 'images/pic3.jpg' %}" alt=""/>
                                    </div>
                                      <div class="bot-desc">
                                        <p>Time and again, our clients report that Best Doctors more than pays for itself. Organizations save dollars, worry and even lives. Which is why we now serve more members in every industry. </p>
                                      </div>
                                    <div class="clear"></div>
                                    <div class="bot-img">
                                      <img src="{% static 'images/dot2.jpeg' %}" alt=""/>
                                     </div>
                                      <div class="bot-desc">
                                        <p>Best Doctors creates a collaborative environment where doctors work together to improve outcomes. We do this by creating a report that not only supports the member, but also the treating team, which supports decision making and helps ensure better outcomes.
                                      </p>


                                     </div>
                                    <div class="clear"></div>
                                    <div class="bot-img">
                                      <img src="{% static 'images/index12.jpeg' %}" alt=""/>
                                    </div>
                                      <div class="bot-desc">
                                        <p>After seeing almost a dozen different doctors, Samuel was frustrated by his increasing pain levels, lack of mobility and the absence of any clear answers regarding her condition, so he contacted Doctors through us, he then got the clear answers to his condition from us</p>
                                    </div>
                                      <div class="clear"></div>
                                    </div>
                                    <div class="box1-left">
                                    <div class="bot-img">
                                      <img src="{% static 'images/doctor12.jpeg' %}" alt=""/>
                                    </div>
                                      <div class="bot-desc1">
                                        <p>“Through us , people can chat with a doctor on demand, send pictures of a problem, and even copies of lab results  and past historical illness to find out if something is serious or not . They can also order for labtests or prescription based on doctors prescription
                                        "



                                     </div>
                                    <div class="clear"></div>
                                    
                                    <div class="clear"></div>
                                    <div class="bot-img">
                                      <img src="{% static 'images/dfriend.jpeg' %}" alt=""/>
                                     </div>
                                      <div class="bot-desc1">
                                        <p><!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet --> </p>
                                      </div>
                                    <div class="clear"></div>
                                    </div>
                      </div>
                        <div class="clear"></div>      
        </div

        {% endblock %}





              {% block footer %}



<div class="fo0ter-boottom">
<div class="wrap">  
  <div class="copy">
    <p style="margin-left: 300px;">Your Company Name &copy; 2013 All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a> &nbsp;&nbsp;&nbsp;Photos by <a href="http://www.freegreatpicture.com/">Freegreatpicture</a></p>
  </div>
 </div>
</div>
</div>


{% endblock %}


{% block extra_body %}

{% endblock %}