{% load static %}
<div class="header" style="width: 2000px; ">
<div class="wrap">
<div class="logo"  ><a href="index.html" style="color: #fff; font-size: 32px;"><img src="{% static 'images/logocon.jpe' %}"  style="" alt="" />Doctor(Medical) Consulation</a></div>
   <div class="con-right">
      <div class="grid1-l-img">
        <img src="{% static 'images/contact.png' %}" alt="">
      </div>
      <div class="grid1-l-desc">
        <p>Contact : +256754307471</p>
      </div>
      <div class="clear"></div>
  </div>
    <div class="clear"></div>
     </div>
</div>
<div class="header-bottom">
      <div class="wrap">
        <!-- <ul id="nav">
                <li><a class="hsubs" href="/Doct/" title="Logout">Home</a></li>
                <li><a class="hsubs" href="/Doct/about/">About Us</a></li>
                <li><a class="hsubs" href="/Doct/team/">Our Team</a>
        
                <li><a href="/Doct/contact/">Contact Us</a></li>
                <li><a href="/Doct/how_it_works/">How it works</a></li>
                {% if ill_more %}
                <li><a href="/Doct/orderdrugs/">Order Drugs</a></li>
                <li><a href="/Doct/labtests/">Order Lab Test</a></li>

                {% endif %}

               
                <li><a href="/Doct/whyus/">Why Us</a></li>
                    <ul class="subs">
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Beach Resorts</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}

                <li><a href="/Doct/logout/">Logout</a></li>

                {% endif %}
               
        </ul> -->

       </div>
</div>